body{
	background-image: url('bg.jpg');

 
  background-repeat: no-repeat;
 background-size:cover;
}
.a p{
	text-align: left;
color: grey;
font-size: 23px;
font-family: amarante;
}

.c{
	font-size: 30px;
	font-family: amarante;

}
.d{
	color: grey;
font-size: 23px;
font-family: amarante;
}
.e{

	font-size: 30px;
	font-family: amarante;

}
.f{
	color: grey;
font-size: 23px;
font-family: amarante;
}










.dp{
	font-family:amarante;
	font-size: 20px;
color: grey;

margin-top: 0;
margin-left: 55%;
margin-bottom: 5%;
  background-color: #333333;
  
  opacity: 0.6;
  padding-top: 10px;
padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 9%;
}
.dp1{
	font-family:amarante;
	font-size: 20px;
color: grey;
margin-top: 0;
margin-right: 45%;
margin-bottom: 5%;
  background-color: #333333;
  opacity: 0.6;
  padding-top: 10px;
padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15%;
}
.dp2{
	font-family:amarante;
	font-size: 20px;
color: grey;

margin-top: 0;
margin-left: 50%;
margin-bottom: 5%;
  background-color: #333333;
  
  opacity: 0.6;
  padding-top: 10px;
padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 25%;

}
.dp3{
	font-family:amarante;
	font-size: 20px;
color:grey;
margin-top: 0;
margin-right: 45%;
margin-bottom: 5%;
  background-color: #333333;
  opacity: 0.6;
  padding-top: 10px;
padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15%;
}