body{
	margin:0;
	padding: 0;
	text-align: center;
	background:white;
    
    font-family: sans-serif;
}
.ab img{
	 float: left;
    padding-left: 10px;
  padding-top: 10px;
  width: 60px;
  height:auto;
}

 .cd img{
   width: 180px;
  line-height: 80px;
  float: left;
  padding-left: 1px;
  padding-top: 1px;
 }
 body{
 	height: 800px;
 }
header{
	height: 80px;
	line-height:20px;
	position: fixed;
	z-index: 1;
	width: 100%;
}
.secondary
{
	background-color: orange;
	box-shadow: 0px 0px 17px 0px;
	transition: all 0.5s;
}
ul{
	list-style: none;
}
ul li{
	display: inline-block;
}
header nav{
	float: right;
}
.logo img{
	margin-top: 30px;
}
 .ni::after {
  content: '';
  display: block;
  width: 0px; 
  height: 2px;
  background: black;
  transition: width .2s
  }
   .ni:hover::after {
  width: 100%;
  transition: width .2s
 }
  .rightmenu{
  width: 10%;
  height: 100px;
  float: right;   /*background-color: red;*/
 }

 li a{
  text-decoration: none;
  display: inline-block;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 0px;
 }

 .rightmenu ul{
  position: absolute;
  margin-left: 150px;
  top: 70%;
  left:60%;
  transform: translateX(-50%) translateY(-50%);
 }
 .rightmenu ul li{
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  list-style: none;
  font-size: 15px;
  font-weight: bold;
  margin-left: 20px;
  text-transform: uppercase;

 }

header nav ul li a{
	padding-right: 20px;
	font-weight: bold;
	color: black;
	transition: all 0.2s ease-in;
}

header nav ul li a:hover{
	text-decoration: none;
	color:black;
}

.contact-title{

	margin-top: 100px;
	color: black;
	text-transform: uppercase;
	
	position: absolute;
	top: 15%;
left: 39%;


}


}
.contact-title h1{

	font-size: 16px;
	color: black;

}

form
{

margin-top: 50px;
position: absolute;
top: 40%;
left: 40%;

}

.form-control{
	width: 600px;
	background: transparent;
	border:none;
	outline: none;
	border-bottom: 1px solid black;
	
	font-size: 18px;
	margin-bottom: 16px;
}



form .submit{
	background: #ff5722;
	border-color: transparent;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 50px;
	margin-top: 20px;

}

form .submit:hover{
	background-color: #f44336;
	cursor: pointer;

}
.ef{
position: absolute;left:10%;top: 30%;
}


































